.container{
    max-width: 1400px;
}

header{  
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    transition: 1.0s;
    padding: 3px 16px;
    z-index: 20;
}

.content {
    padding: 16px;
  } 

.sticky {
    position: fixed;
    top: 0;
    width: 100%
} 

.sticky + .content {
    padding-top: 102px;
}

nav{
    display: flex;
    justify-content: end;
    align-items: end;
}

header.abajo{
    background: #080000;
    padding: 15px 20px;
}

header.abajo ul li a{
    color: #ffffff;
}


header ul{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
header ul a{
    position: relative;
    font-weight: bolder;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.5s;
}

header.abajo ul li a{
    color: #ffffff;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}


#galeria img{
    width: 100%;
    height: 400px;
}

#galeria img:hover{
    border: 5px solid #f7f7f7;
}

#logoempresa{
    height: 200px;
    width: 200px;
}

#somosmenu{
    height: 850px;
    width: 700px;
}

#pagos{
    width: 400px;
}

#img-ofrecemos{
    width: 640px;
}

.oscuro{
    background-color: rgba(11, 11, 12, 0.719);
    color: white;
}
.claro{
    background-color: #d1d3e4;
    color: black;
}

header button{
    float: left;
}

.small{
    font-size: 220%;
}
.medium{
    font-size: 150%;
}
.large{
    font-size: 180%;
}

#navbar{
    background-color: #d1d3e4; 
    
}

#navbar.contraste {
    background-color: #333;
    color: #d1d3e4;
  }
#footer {
    background-color: #d1d3e4; 
  }

#footer.contraste {
    background-color: #333; 
    color: #d1d3e4;
  }

#myHeader{
    background-color: #d1d3e4;
    color: #333;
}
  
#myHeader.contraste {
    background-color: #333; 
    color: #d1d3e4; 
}