.container{
    max-width: 1300px;
}

header{  
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 1.0s;
    padding: 10px 10px;
    z-index: 20;
}
nav{
    display: flex;
    justify-content: end;
    align-items: end;
}

header.abajo{
    background: #e7e6e6;
    padding: 15px 20px;
}

header.abajo ul li a{
    color: rgb(255, 255, 255);
}


header ul{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
header ul a{
    position: relative;
    font-weight: bolder;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(185, 180, 180);
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

header.abajo .logo,
header.abajo ul li a{
    color: #aaa3a3;
}

body{
    background: linear-gradient(320deg, #d4d37c, 
    #d4b0b0, #d8cee4) ;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
}

#galeria .col-lg-4{
    margin: 0 !important;
    padding: 25px;
}


#galeria img{
    width: 100%;
    height: 400px;
}

#galeria img:hover{
    border: 5px solid #f7f7f7;
}

#logoempresa{
    height: 200px;
    width: 200px;
}

#somosmenu{
    height: 750px;
    width: 700px;
}

#pagos{
    width: 400px;
}

#img-ofrecemos{
    width: 640px;
}